# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*
metro

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android

# iOS widget source files
!/ios
!/ios/timerapp.xcodeproj
!/ios/timerapp.xcodeproj/project.pbxproj
!/ios/timerapp
!/ios/timerapp/timerapp.entitlements
!/ios/timerapp/TimerWidgetModule.swift
!/ios/timerapp/TimerWidgetModuleBridge.m
!/ios/ChronosWidget
!/ios/ChronosWidget/**
# re-ignore everything else in ios that we don't need
/ios/.gitignore
/ios/.xcode.env
/ios/Podfile
/ios/Podfile.lock
/ios/Podfile.properties.json
/ios/setup_widget.rb
/ios/timerapp.xcodeproj/xcshareddata
/ios/timerapp.xcworkspace
/ios/timerapp/AppDelegate.swift
/ios/timerapp/Images.xcassets
/ios/timerapp/Info.plist
/ios/timerapp/PrivacyInfo.xcprivacy
/ios/timerapp/SplashScreen.storyboard
/ios/timerapp/Supporting
/ios/timerapp/timerapp-Bridging-Header.h

